[Unit]
Description=Turn discrete graphics off

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c modprobe radeon; echo DIGD > /sys/kernel/debug/vgaswitcheroo/switch; echo OFF > /sys/kernel/debug/vgaswitcheroo/switch
ExecStop=sh -c echo ON > /sys/kernel/debug/vgaswitcheroo/switch

[Install]
WantedBy=multi-user.target
