[Unit]
Description=Turn discrete graphics off
Requires=sys-kernel-debug.mount
After=sys-kernel-debug.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "modprobe radeon && echo DIGD > /sys/kernel/debug/vgaswitcheroo/switch && echo OFF > /sys/kernel/debug/vgaswitcheroo/switch"
ExecStop=/bin/sh -c "echo ON > /sys/kernel/debug/vgaswitcheroo/switch"

[Install]
WantedBy=multi-user.target
